# Keil MDK-ARM Build Outputs
MDK-ARM/slewing ring/
MDK-ARM/slewing\ ring/
MDK-ARM/Listings/
MDK-ARM/Objects/
MDK-ARM/DebugConfig/
MDK-ARM/RTE/

# Intermediate compile files
*.o
*.crf
*.d
*.axf
*.hex
*.bin
*.map
*.dep
*.iex
*.build_log.htm
*.htm

# VSCode logs and locks
.vscode/*.log
.vscode/*.lock

# Keil User Layout
MDK-ARM/*.uvguix.*
MDK-ARM/*.uvgui.*
MDK-ARM/*.uvoptx~
MDK-ARM/*.uvprojx~

# Archives and backup files
*.zip
*.tar.gz
*.rar
*~
*.swp
